<div class="container">
<% @blog.blog_arquivos.each do |ba| %>

  <h1><%= ba.titulo%></h1>
  <p><%= ba.descricao %></p>

  <% if ba.imagens.attached? %>
    <% ba.imagens.each do |imagem| %>
      <%= image_tag imagem, alt: ba.titulo %>
      <%= link_to 'Baixar Imagem', rails_blob_path(imagem, disposition: 'attachment'), target: '_blank' %>
    <% end %>
  <% end %>
<% end %>
</div>